{% extends 'base.html.twig' %}

{% block title %}Se connecter!{% endblock %}

{% block body %}
    <div class="container-fluid login-container">
        <div class="row justify-content-center align-items-center height-div-screen-80">
            <div class="col-10 col-lg-4 text-center border border-2 border-dark p-5">
                <form method="post" class="table-responsive">
                    {% if error %}
                        <div class="alert alert-danger">{% trans %}snow_trick.login.error{% endtrans %}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            {% trans %}snow_trick.login.already{% endtrans %} {{ app.user.name }}, <a href="{{ path('app_logout') }}">{% trans %}snow_trick.login.out{% endtrans %} ?</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">{% trans %}snow_trick.login.main{% endtrans %}</h1>
                    <label for="inputUuid" class="mt-3 mb-2">{% trans %}snow_trick.login.name{% endtrans %}</label>
                    <input type="text" value="{{ last_username }}" name="uuid" id="inputUuid" class="form-control"
                           autocomplete="username" required autofocus>
                    <label for="inputPassword" class="mt-3 mb-2">{% trans %}snow_trick.login.password{% endtrans %}</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}

                    <button class="btn btn-lg btn-primary mt-3" type="submit">
                        {% trans %}snow_trick.login.button{% endtrans %}
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
