<div class="text-center pb-4">
        <button
                class="btn btn-lg btn-primary"
                data-action="pagination-trick-homepage#onClickMore"
                data-pagination-trick-homepage-target="addTrickButton"
        >{{ 'snow_trick.home.button-add-trick'|trans }}</button>
        <button data-pagination-trick-homepage-target="endTrickButton" class="btn btn-lg btn-primary d-none" disabled="disabled">{{ 'snow_trick.home.button-end-trick'|trans }}</button>
</div>