<div class="text-center">
    {% if page < page_max %}
        <a class="btn btn-lg btn-primary" href="{{ path('home') }}?page={{ page + 1 }}#tricks-loader">Charger plus</a>
    {% else %}
        <button class="btn btn-lg btn-primary" href="#" disabled="disabled">FIN</button>
    {% endif %}
</div>