<div class="text-center">
        <button
                class="btn btn-lg btn-primary"
                data-action="add-trick-homepage#onClickMore"
                data-add-trick-homepage-target="addTrickButton"
        >{{ 'snow_trick.home.button-add-trick'|trans }}</button>
        <button data-add-trick-homepage-target="endTrickButton" class="btn btn-lg btn-primary d-none d-" disabled="disabled">{{ 'snow_trick.home.button-end-trick'|trans }}</button>
</div>