{% extends 'base.html.twig' %}

{% block title %}{% trans %}snow_trick.title.home{% endtrans %}{% endblock %}


{% block body %}
    <div class="container-fluid arrow-container mb-5" {{ stimulus_controller('pagination-trick-homepage', {
        url: path('home'),
        page: page,
        pageMax: page_max ,
        arrowPageUpOn: arrow_page_up_on,
        trickPerPage: trick_per_page
    }) }}>
        <div class="row m-5" id="tricks-list" data-pagination-trick-homepage-target="result">
            {{ include('home/_home.html.twig') }}
        </div>
        <div id="tricks-loader">
            {{ include('home/_loader.html.twig') }}

        </div>
        {% include 'component/_arrow_page_up.html.twig' %}

    </div>
    {% include 'component/_modal.html.twig' %}
{% endblock %}
