{% extends 'base.html.twig' %}

{% block title %}{% trans %}snow_trick.title.home{% endtrans %}{% endblock %}


{% block body %}
    <div class="container-fluid arrow-container mb-5 ">
        <div class="row m-5" id="tricks-list">
            {% for trick in tricks %}
                {{ include('home/_home.html.twig') }}
            {% endfor %}
        </div>
        <div id="tricks-loader">
            {{ include('home/_loader.html.twig') }}

        </div>
        {% if arrow_page_up_on <= page * trick_per_page %}
            {% include '_arrow_page_up.html.twig' %}
        {% endif %}
    </div>
    {% include '_modal.html.twig' %}
{% endblock %}
