{% extends 'base.html.twig' %}

{% block title %}{% trans %}snow_trick.title.home{% endtrans %}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row m-5" id="tricks-list">
            {% for trick in tricks %}
                {{ include('home/_home.html.twig') }}
            {% endfor %}
        </div>
        {% if page < page_max %}
            {{ include('home/_loader.html.twig') }}
        {% endif %}
    </div>
{% endblock %}