<div class="border-1 border-bottom p-3 ms-5 me-5">
    {{ form_start(form,{
        'action': path('app_trick',{'slug':trick.slug}) ~ "#top-list-comment",
        'method':'POST',
        'attr':{
            'data-pagination-comment-target':'formComment'
        }
    }) }}
    <div class="row mt-3">
        <div class="col-9">
            {{ form_row(form.content) }}
        </div>
        <div class="col-3">
            {{ form_row(form.valider,{'attr':{'data-action':'pagination-comment#onClickAddComment'}}) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>