<div class="mb-3">
    <span class="badge rounded-pill bg-success">{% trans with {'%date%': comment.createdAt | date('d/m/Y à H:i')} %}snow_trick.trick.badge.created_at{% endtrans %}</span>
    <span class="badge rounded-pill bg-primary">{% trans with {'%name%': comment.user.name} %}snow_trick.trick.badge.by_user{% endtrans %}</span>
</div>