{% for comment in comments %}
    <div class="row align-items-center mt-3">
        <div class="col-12 col-lg-2">
            <img
                    src="{{ asset(photo_user_upload_directory) }}{{ comment.user.photo.name }}"
                    class="image-user"
                    alt="{% trans with {'%name%':comment.user.name} %}snow_trick.comment.picture_user_alt{% endtrans %}"
            >
        </div>
        <div class="col-12 col-lg-10 border border-1 pe-2 ps-3 pt-4 pb-3 rounded">
            {% include 'trick/trick_comment/_comment_badge.html.twig' %}
            {{ comment.content }}
        </div>
    </div>
{% endfor %}
{% include 'trick/trick_comment/_comment_loader.html.twig' %}

