<div class="text-center mt-3" id="comment-loader">
        <button
                class="btn btn-lg btn-primary"
                data-action="pagination-comment#onClickMoreComment"
                data-pagination-comment-target="startButton"
        >
            {% trans %}snow_trick.comment.button_scroll{% endtrans %}
        </button>
        <button
                class="btn btn-lg btn-primary d-none" disabled="disabled"
                data-pagination-comment-target="endButton"
        >{% trans %}snow_trick.comment.button_scroll_end{% endtrans %}</button>
</div>