<div class="media-wrapper">
    <img src="{{ asset(picture_trick_directory ~ medias[i].fileName ) }}"
         alt="{% trans with {'%name%': trick.name} %}snow_trick.trick.alt.image_trick{% endtrans %}-i">
</div>