<div class="row text-center border-1 border-bottom p-3 ms-5 me-5 justify-content-between">
    <span class="col-12 col-lg-3 badge rounded-pill bg-success mb-3">{% trans with {'%date%': trick.createdAt | date('d/m/Y')} %}snow_trick.trick.badge.created_at{% endtrans %}</span>
    {% if trick.updatedAt != null %}
        <span class="col-12 col-lg-3 badge rounded-pill bg-success mb-3">{% trans with {'%date%': trick.updatedAt | date('d/m/Y')} %}snow_trick.trick.badge.updated_at{% endtrans %}</span>
    {% endif %}
    <span class="col-12 col-lg-3 badge rounded-pill bg-warning mb-3">{{ trick.trickGroup.name }}</span>
    <span class="col-12 col-lg-2 badge rounded-pill bg-primary mb-3">{% trans with {'%name%': trick.user.name} %}snow_trick.trick.badge.by_user{% endtrans %}</span>
</div>