{% extends 'base.html.twig' %}
{% import 'macro/_get_trick_card_picture.html.twig' as macro %}

{% block title %}Ajouter une figure{% endblock %}

{% block body %}
    <div class="trick-container">
        <div class="trick-container-base">
            <div class="trick-container-image">
                <span>Ajouter une figure</span>
                <img src="{{ asset('images/picture/' ~ default_picture) }}"
                     alt="{% trans with {'%name%': trick.name} %}snow_trick.trick.alt.image_trick{% endtrans %}">
            </div>
            <div class="trick-container-content">
                <div class="container">
                    {% include 'component/_flashes.html.twig' %}
                </div>
                {% include 'trick/trick_slider/_card_slider_min.html.twig' %}
                <div class="container sub-trick-container-content">
                </div>
                <div class="container">
                    {% include 'trick/trick_form/_form_create.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
