@import "~bootstrap";
@import "components/header.css";
@import "components/trick.css";
@import "components/trick-card-slider.css";
@import "components/navfooter.css";
@import "components/navbar.css";
@import "components/footer.css";
@import "components/bootstrap-update.css";
@import "components/home-card.css";
@import "components/login.css";
@import "components/modal.css";

@font-face {
    font-family: 'Snowboarding';
    src: url('../../public/font/Snowboarding.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --theme-color-dark-dark-blue: #010144;
    --theme-color-dark-blue: #00006B;
    --theme-color-blue: #09078A;
    --theme-color-light-blue: #1400CC;
    --theme-color-apple: #C5F21D;
    --theme-color-yellow: #FBFF3D;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: "Roboto Thin", sans-serif;
}

li {
    list-style: none;
}

.height-div-screen-80 {
    height: 80vh;
}

a {
    text-decoration: none;
    color: var(--theme-color-light-blue);
}

@media screen and (min-height: 1080px) {
    html, body {
        font-size: 1.4em;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        min-height: 100vh;
        font-family: "Roboto Thin", sans-serif;
    }
}