<a href="{{ path('home') }}?page={{ page }}#tricks-list" class="arrowPageDown">
    <img src="{{ asset(icons_directory ~ 'arrow-down.png') }}" alt="{% trans %}snow_trick.icon_alt.arrow_page_down{% endtrans %}">
</a>
