<footer class="flex-wrap justify-content-between align-items-center py-3 mt-4 footer {{ fix_footer ? "fixed-bottom" : "" }}">
    <div class="col-md-4 d-flex align-items-center">
        <span class="ms-4 mb-3 mb-md-0 text-light">© 2022 XtremSnowTricks</span>
    </div>
</footer>
