<header class="box-header">
    <div class="catchphrase-box-header">
        <p class="catchphrase-box-header-fs-base">XtremSnowTricks</p>
        <p class="{{ app.request.locale == "jp" ? 'catchphrase-box-header-fs-jp' : 'catchphrase-box-header-fs-base' }}">{% trans %}snow_trick.header.title{% endtrans %}</p>
    </div>
    {% if app.request.pathInfo == "/" %}
        {% include 'component/_arrow_page_down.html.twig' %}
    {% endif %}
</header>