<div class="modal-container">
    <div class="overlay modal-trigger"></div>
    <div class="modal-window">
        <h3 class="mb-5">{{ 'snow_trick.modal.question'|trans }}</h3>
        <div class="w-100 text-end">
            <button class="btn btn-primary modal-trigger" data-action="modal#onDelete">{{ 'snow_trick.modal.cancel-button'|trans }}</button>
            <a href="" class="btn btn-primary" id="modal-delete-link">{{ 'snow_trick.modal.delete-button'|trans }}</a>
        </div>
    </div>
</div>