<a href="{{ path('home') }}?page={{ page }}#tricks-list" class="arrowPageDown">
    <img src="{{ asset('images/arrow-down.png') }}" alt="{% trans %}snow_trick.arrow_page_down.alt{% endtrans %}">
</a>
