
<a href="{{ path('home') }}?page={{ page }}#tricks-list" class="arrowPageUp">
    <img src="{{ asset('images/arrow-up.png') }}" alt="{% trans %}snow_trick.icon_alt.arrow_page_up{% endtrans %}">
</a>
