<header class="box-header">
{#    <img src="{{ asset('images/header.jpg') }}" alt="{% trans %}snow_trick.header.image.alt{% endtrans %}" class="image-header img-fluid">#}
    <div class="catchphrase-box-header">
        <p class="catchphrase-box-header-fs-base">XtremSnowTricks</p>
        <p class="{{ app.request.locale == "jp" ? 'catchphrase-box-header-fs-jp' : 'catchphrase-box-header-fs-base' }}">{% trans %}snow_trick.header.title{% endtrans %}</p>
    </div>
</header>