<footer class="navfooter sticky-bottom bg-light">
        <div>
                <img src="{{ asset('images/home.png') }}" alt="">
        </div>
        <div>
                <img src="{{ asset('images/signet.png') }}" alt="">
        </div>
        <div>
                <img src="{{ asset('images/entrer.png') }}" alt="">
        </div>
        <div>
                <img src="{{ asset('images/sortie.png') }}" alt="">
        </div>
</footer>