{% extends 'email/base_email.html.twig' %}

{% block title %}{% trans from "emails" %}activation.title{% endtrans %}{% endblock %}
{% block content %}
    <p>
        {% trans from "emails" %}activation.content_1{% endtrans %}
    </p>
    <p>
        {% trans from "emails" %}activation.content_2{% endtrans %}
        <a href="{{  url('app_user_activation',{'token': user.activationToken}) }}">
            {% trans from "emails" %}activation.content_3{% endtrans %}
        </a>
        {% trans from "emails" %}activation.content_4{% endtrans %}
    </p>
    <p>
        {% trans from "emails" %}activation.content_5{% endtrans %}
    </p>
{% endblock %}