{% extends 'email/base_email.html.twig' %}

{% block title %}{% trans %}snow_trick.email.activation.title{% endtrans %}{% endblock %}
{% block content %}
    <p>
        {% trans %}snow_trick.email.activation.content_1{% endtrans %}
    </p>
    <p>
        {% trans %}snow_trick.email.activation.content_2{% endtrans %}
        <a href="{{  url('app_user_activation',{'token': user.activationToken}) }}">
            {% trans %}snow_trick.email.activation.content_3{% endtrans %}
        </a>
        {% trans %}snow_trick.email.activation.content_4{% endtrans %}
    </p>
    <p>
        {% trans %}snow_trick.email.activation.content_5{% endtrans %}
    </p>
{% endblock %}