{% extends 'email/base_email.html.twig' %}

{% block title %}{% trans %}snow_trick.email.forgotten.title{% endtrans %}{% endblock %}
{% block content %}
    <p>
        {% trans %}snow_trick.email.forgotten.content_1{% endtrans %}
        <a href="{{  url('app_user_reset_password',{'token': user.resetToken}) }}">
            {% trans %}snow_trick.email.forgotten.content_2{% endtrans %}
        </a>
        {% trans %}snow_trick.email.forgotten.content_3{% endtrans %}
    </p>
    <p>
        {% trans %}snow_trick.email.forgotten.content_4{% endtrans %}
    </p>
{% endblock %}