{% extends 'email/base_email.html.twig' %}

{% block title %}{% trans from "emails" %}forgotten.title{% endtrans %}{% endblock %}
{% block content %}
    <p>
        {% trans from "emails" %}forgotten.content_1{% endtrans %}
    </p>
    <p>
        {% trans from "emails" %}forgotten.content_2{% endtrans %}
    </p>
{% endblock %}

{% block button %}
    <a target="_blank" style="text-decoration:none; color:#f8f9fb; display:block; padding:12px 10px 10px;" href="{{ sign_url }}">{% trans from "emails"%}forgotten.base_button{% endtrans %}</a>
{% endblock %}